<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/component.css}">
<meta th:replace="fragments/Scripts :: scripts">
<title>アーカイブ</title>
</head>
<body>
	<div class="cover"></div>
	<div th:replace="fragments/Sidenav :: sidenav"></div>
	<div class="main d-flex flex-column">
		<div th:replace="fragments/Header :: header"></div>
		<div class="container-fluid py-2">
			<div class="row">
				<div class="col col-12">
					<h5 class="m-0">アーカイブ</h5>
				</div>
			</div>
		</div>
		<div class="container-fluid flex-grow-1 d-flex flex-column overflow-auto">
			<div class="row">
				<div class="col col-12 d-flex">
					<div class="me-2">
						<button class="btn btn-secondary btn-sm shadow-sm" data-bs-toggle="modal" data-bs-target="#appendFolderDialog">
							<span>フォルダ追加</span>
						</button>
					</div>
					<div class="me-2">
						<button class="btn btn-secondary btn-sm shadow-sm" data-bs-toggle="modal" data-bs-target="#uploadDialog">
							<span>アップロード</span>
						</button>
					</div>
				</div>
			</div>
			<!-- フォルダ作成ダイアログ -->
			<div class="modal fade" id="appendFolderDialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">フォルダ作成</h5>
							<button type="button" data-bs-dismiss="modal" class="btn btn-close"></button>
						</div>
						<div class="modal-body">
							<form th:action="@{/manage/sys/fs/AppendFolder.do}" method="POST">
								<input type="hidden" th:value="${currentDirectory.absolutePath}" name="currentDirectory" />
								<div class="mb-3">
									<label for="folderName" class="form-label">フォルダ名</label>
									<input type="text" class="form-control form-control-sm" name="folderName" id="folderName"
										maxlength="32" />
								</div>
								<button class="btn btn-success btn-sm shadow-sm">作成</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- ファイルアップロードダイアログ -->
			<div class="modal fade" id="uploadDialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">ファイルアップロード</h5>
							<button type="button" data-bs-dismiss="modal" class="btn btn-close"></button>
						</div>
						<div class="modal-body">
							<form th:action="@{/manage/sys/fs/Upload.do}" method="POST" enctype="multipart/form-data"
								th:object="${uploadForm}">
								<input type="hidden" th:field="*{path}" />
								<div class="mb-3">
									<label for="multipartFile" class="form-label">ファイルを選択してください</label>
									<input type="file" class="form-control form-control-sm" th:field="*{multipartFile}" />
								</div>
								<button class="btn btn-success btn-sm shadow-sm">アップロード</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row flex-grow-1 py-1 border-top my-2">
				<div class="col col-12">
					<div class="py-1" th:if="${parentAvailable}" th:with="parent=${currentDirectory.parentFile}">
						<a th:href="@{/manage/sys/fs/ChangeDirectory.do(to=${parent.absolutePath})}">戻る</a>
					</div>
					<div th:each="file : ${currentDirectory.listFiles}" class="py-1">
						<div th:if="${file.directory}">
							<a th:href="@{/manage/sys/fs/ChangeDirectory.do(to=${file.absolutePath})}"
								th:text="${file.name}"></a>
						</div>
						<div th:if="${file.file}">
							<a th:href="@{/manage/sys/fs/Download.do(target=${file.absolutePath})}"
								th:text="${file.name}" class="link-success"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/Toast :: toast"></div>
</body>
</html>