<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<meta th:replace="fragments/Scripts :: scripts">
<title>プロフィール編集</title>
</head>
<body>
	<div class="cover"></div>
	<div th:replace="fragments/Sidenav :: sidenav"></div>
	<div class="main">
		<div th:replace="fragments/Header :: header"></div>
		<form th:action="@{/profile/ProfileEdit.do}" autocomplete="off" 
			method="post" enctype="multipart/form-data" th:object="${profileEditForm}">
			<div class="container-fluid p-4 position-relative">
				<div class="row g-4">
					<div class="col col-12">
						<h5 class="m-0 pb-2 mb-3 border-bottom">アカウント情報</h5>
					</div>
				</div>
				<div class="row gy-2">
					<div class="col col-12 col-md-3">
						<span class="fw-bold">社員番号</span>
					</div>
					<div class="col col-12 col-md-9">
						<span th:text="${#authentication.principal.empNo}"></span>
					</div>
					<div class="col col-12 col-md-3">
						<span class="fw-bold">氏名</span>
					</div>
					<div class="col col-12 col-md-9">
						<span th:text="${#authentication.principal.username}"></span>
					</div>
					<div class="col col-12 col-md-3">
						<span class="fw-bold">所属部署</span>
					</div>
					<div class="col col-12 col-md-9">
						<span th:text="${#authentication.principal.deptName}"></span>
					</div>
					<div class="col col-12 col-md-3">
						<span class="fw-bold">役職</span>
					</div>
					<div class="col col-12 col-md-9">
						<span th:text="${#authentication.principal.posName}"></span>
					</div>
					<div class="col col-12 col-md-3">
						<span class="fw-bold">プロフィール画像</span>
					</div>
					<div class="col col-12 col-md-9">
						<div class="p-1 bg-secondary d-inline-block">
							<img th:src="${#authentication.principal.profileImage.encodedString}" 
								alt="" class="profile-photo" id="thumbnail"/>
						</div>
					</div>
					<div class="col col-12 col-md-3"></div>
					<div class="col col-12 col-md-9">
						<label for="photo-file" class="btn btn-secondary btn-sm shadow-sm">アップロード</label>
						<input type="file" id="photo-file" class="d-none" accept="image/*" 
								th:field="*{uploadFile}"/>
					</div>
					<div class="col col-12 col-md-3">
						<span class="fw-bold">E-Mail</span>
					</div>
					<div class="col col-12 col-md-9">
						<span th:text="${#authentication.principal.email}">user@sample.co.jp</span>
					</div>
					<div class="col col-12 col-md-3">
						<span class="fw-bold">パスワード</span>
					</div>
					<div class="col col-12 col-md-4">
						<input  type="password" class="form-control form-control-sm" 
								placeholder="変更後のパスワード" th:field="*{password}"
								th:classappend="${#fields.hasErrors('password') || #fields.hasErrors('passwordConfirmed') 
												? 'is-invalid bg-light' : ''}" />
					</div>
					<div class="col col-12 col-md-4">
						<span th:if="${#fields.hasErrors('password')}" 
								class="text-danger" th:errors="*{password}"></span>
					</div>
					<div class="col col-12 col-md-3"></div>
					<div class="col col-12 col-md-4">
						<input type="password" class="form-control form-control-sm" 
								placeholder="再入力" th:field="*{passwordConfirm}"
								th:classappend="${#fields.hasErrors('passwordConfirm') || 
												#fields.hasErrors('passwordConfirmed') ? 'is-invalid bg-light' : ''}" />
					</div>
					<div class="col col-12 col-md-4">
						<div th:if="${#fields.hasErrors('passwordConfirm')}">
							<span class="text-danger" th:errors="*{passwordConfirm}"></span>
						</div>
						<div th:if="${#fields.hasErrors('passwordConfirmed')}">
							<span class="text-danger" th:errors="*{passwordConfirmed}"></span>
						</div>
					</div>
				</div>
				<div class="row g-3">
					<div class="col col-12">
						<h5 class="m-0 pb-2 mb-3 border-bottom">個人情報</h5>
					</div>
				</div>
				<div class="row gy-2">
					<div class="col col-12 col-md-3">
						<span class="fw-bold">郵便番号</span>
					</div>
					<div class="col col-12 col-md-4 d-flex">
						<input id="zipcode" type="text" class="form-control form-control-sm"
								th:field="*{zipcode}" style="width: 7rem;" placeholder="ハイフンなし"
								th:classappend="${#fields.hasErrors('zipcode') ? 'is-invalid bg-light' : ''}" />
						<button type="button" id="search-address" class="btn btn-secondary btn-sm shadow-sm ms-2">住所検索</button>
					</div>
					<div class="col col-12 col-md-4">
						<span th:if="${#fields.hasErrors('zipcode')}" 
								class="text-danger" th:errors="*{zipcode}"></span>
					</div>
					<div class="col col-12 col-md-3">
						<span class="fw-bold">住所</span>
					</div>
					<div class="col col-12 col-md-4">
						<input id="pref" type="text" class="form-control form-control-sm" 
								th:field="*{pref}" placeholder="都道府県" style="width: 10rem;"
								th:classappend="${#fields.hasErrors('pref') ? 'is-invalid bg-light' : ''}" />
					</div>
					<div class="col col-12 col-md-4">
						<span th:if="${#fields.hasErrors('pref')}" 
								class="text-danger" th:errors="*{pref}"></span>
					</div>
					<div class="col col-12 col-md-3"></div>
					<div class="col col-12 col-md-4">
						<input id="city" type="text" class="form-control form-control-sm" 
								th:field="*{city}" placeholder="市区町村" 
								th:classappend="${#fields.hasErrors('city') ? 'is-invalid bg-light' : ''}"/>
					</div>
					<div class="col col-12 col-md-4">
						<span th:if="${#fields.hasErrors('city')}" 
								class="text-danger" th:errors="*{city}"></span>
					</div>
					<div class="col col-12 col-md-3"></div>
					<div class="col col-12 col-md-4">
						<input type="text" class="form-control form-control-sm" 
								th:field="*{bldg}" placeholder="番地・建物"
								th:classappend="${#fields.hasErrors('bldg') ? 'is-invalid bg-light' : ''}" />
					</div>
					<div class="col col-12 col-md-4">
						<span th:if="${#fields.hasErrors('bldg')}" 
								class="text-danger" th:errors="*{bldg}"></span>
					</div>
					<div class="col col-12 col-md-3">
						<span class="fw-bold">電話番号</span>
					</div>
					<div class="col col-12 col-md-4">
						<input type="tel" class="form-control form-control-sm" 
								th:field="*{phoneNo}" placeholder="自宅"
								th:classappend="${#fields.hasErrors('phoneNo') ? 'is-invalid bg-light' : ''}" />
					</div>
					<div class="col col-12 col-md-4">
						<span th:if="${#fields.hasErrors('phoneNo')}" 
								class="text-danger" th:errors="*{phoneNo}"></span>
					</div>
					<div class="col col-12 col-md-3"></div>
					<div class="col col-12 col-md-4">
						<input type="tel" class="form-control form-control-sm" 
								th:field="*{mobilePhoneNo}" placeholder="携帯"
								th:classappend="${#fields.hasErrors('mobilePhoneNo') ? 'is-invalid bg-light' : ''}" />
					</div>
					<div class="col col-12 col-md-4">
						<span th:if="${#fields.hasErrors('mobilePhoneNo')}" 
								class="text-danger" th:errors="*{mobilePhoneNo}"></span>
					</div>
				</div>
				<div class="footer px-3">
					<span></span>
					<button class="btn btn-success btn-sm shadow-sm">プロフィールを変更</button>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/Toast :: toast"></div>
</body>
</html>