@charset "UTF-8";
.table-fixed-header {
	height: 100%;
	overflow: auto;
	position: relative;
	flex-grow: 1;
}
.table {
	border-collapse: separate;
	border-spacing: 0;
}
textarea {
	resize: none;
}
.form-control.readonly {
	background: transparent;
	border: 0;
}
label:hover {
	cursor: pointer;
}