@charset "UTF-8";
.cover {
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	display: none;
}
.cover.visible {
	display: block;
}
.sidenav {
	height: 100vh;
	width: 240px;
	position: fixed;
	margin-left: -240px;
	transition: all linear .3s;
	z-index: 2010;
}
.sidenav-toggler:hover {
	cursor: pointer;
}
.sidenav.visible {
	margin-left: 0;
}
.sidenav .profile-photo {
	height: 96px;
	width: 96px;
	display: block;
}
.main {
	position: relative;
	transition: all linear .3s;
}
.visible-lt-md {
	visibility: visible;
}
.visible-gt-lg {
	visibility: hidden;
}
.nav-link:hover {
	background: #cfcfcf;
}
@media(min-width: 992px) {
	.sidenav {
		margin-left: 0;
	}
	.main {
		margin-left: 240px;
	}
	.sidenav-toggler {
		display: none;
	}
	.visible-lt-md {
		visibility: hidden;
	}
	.visible-gt-lg {
		visibility: visible;
	}
}