<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="../static/css/layout.css" th:href="@{/css/layout.css}">
<link rel="stylesheet" href="../static/css/component.css" th:href="@{/css/component.css}">
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<script type="text/javascript" src="../static/js/components.js"></script>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<title>画面レイアウト確認用HTML</title>
</head>
<body>
	<div class="cover"></div>
	<div class="sidenav bg-light">
		<nav class="navbar navbar-dark text-light" style="background: darkred;">
			<div class="container-fluid">
				<a class="navbar-brand sidenav-toggler">
					<i class="bi bi-chevron-left"></i>
				</a>
				<span class="navbar-brand visible-gt-lg">TechShare</span>
			</div>
		</nav>
		<!-- ユーザ情報 -->
		<div class="container-fluid bg-secondary text-light py-3" th:object="${authenticatedUser}">
			<span th:text="*{username}">Username</span>
			<!-- 画像 -->
			<img class="profile-photo my-2" src="../static/img/anonymous.png"
					alt="Profile" th:src="@{/img/anonymous.png}" />
			<!-- E-Mail -->
			<span>XXXXXX@mydomain.com</span>
			<hr />
			<div class="d-flex justify-content-between">
				<a href="#" class="btn btn-primary btn-sm shadow-sm me-2">プロフィール編集</a>
				<form th:action="@{/Logout.do}" method="post">
						<button type="submit" class="btn btn-success btn-sm shadow-sm">ログオフ</button>
				</form>
			</div>
		</div>
		<ul class="nav flex-column">
			<li class="nav-item border-bottom">
				<a href="#" class="nav-link text-dark py-3">ホーム</a>
			</li>
			<li class="nav-item border-bottom">
				<a href="#" class="nav-link text-dark py-3">マスターメンテナンス</a>
			</li>
		</ul>
	</div>
	<div class="main">
		<nav class="navbar navbar-dark text-light sticky-top bg-dark">
			<div class="container-fluid">
				<span class="navbar-brand visible-lt-md">TechShare</span>
				<button type="button" class="btn sidenav-toggler text-light">
						<i class="bi bi-three-dots-vertical"></i>
				</button>
			</div>
		</nav>
		<div class="content overflow-auto d-flex flex-column">
			<div class="p-3">
				<h4>ユーザ―情報一覧</h4>
			</div>
			<div class="bg-white sticky-top p-3">
				<div class="text-end">
					<a href="#" class="btn btn-primary btn-sm shadow-sm">
						<span>ユーザー新規登録</span>
					</a>
				</div>
				<!-- 検索条件 -->
				<form th:action="@{manage/user/UserSearch.do}" class="my-2">
					<div class="d-flex align-items-between">
						<h5 class="me-2">検索条件</h5>
						<a href="#" id="condition-toggler" data-bs-toggle="collapse" data-bs-target="#searchCondition">
							<span class="d-none">[表示]</span>
							<span>[隠す]</span>
						</a>
					</div>
					<div id="searchCondition" class="collapse show">
						<div class="border p-3 rounded">
							<div class="d-flex align-items-top mb-2">
								<strong style="width: 10rem;">社員番号</strong>
								<input type="text" class="form-control form-control-sm" style="width: 10rem;" />
							</div>
							<div class="d-flex align-items-top mb-2">
								<strong style="width: 10rem;">氏名</strong>
								<input type="text" class="form-control form-control-sm" style="width: 16rem;" />
							</div>
							<div class="d-flex align-items-top mb-2">
								<strong style="width: 10rem;">所属部署</strong>
								<select class="form-select form-select-sm" style="width: 16rem;">
									<option value="">-- 選択してください</option>
								</select>
							</div>
							<div class="d-flex align-items-top mb-2">
								<strong style="width: 10rem;">役職</strong>
								<select class="form-select form-select-sm" style="width: 16rem;">
									<option value="">-- 選択してください</option>
								</select>
							</div>
						</div>
					</div>
					<div class="py-2">
						<button class="btn btn-success btn-sm shadow-sm px-3">
							<span>検索実行</span>
						</button>
					</div>
				</form>
			</div>
			<div class="pb-3 px-3 flex-grow-1 overflow-hidden" style="height: 100%">
				<div class="table-fixed-header">
					<table class="table table-sm table-striped m-0">
						<col width="5%"/>
						<col width="15%"/>
						<col width="25%"/>
						<col width="30%"/>
						<col width="25%"/>
						<thead>
							<tr>
								<th class="sticky-top bg-white text-truncate"></th>
								<th class="sticky-top bg-white text-truncate">社員番号</th>
								<th class="sticky-top bg-white text-truncate">氏名</th>
								<th class="sticky-top bg-white text-truncate">所属部署</th>
								<th class="sticky-top bg-white text-truncate">役職</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-truncate text-center">
									<a class="text-dark" title="編集" href="#">
										<i class="bi bi-pen"></i>
									</a>
								</td>
								<td class="text-truncate">0000001</td>
								<td class="text-truncate">John Doe</td>
								<td class="text-truncate">0010001:Sales Management</td>
								<td class="text-truncate">0001:Senior Manager</td>
							</tr>
						</tbody>
					</table>
					<div class="position-sticky top-100 start-0 py-2">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(function() {
		$(document).on('click', '#condition-toggler', function(e) {
			e.preventDefault();
			$(this).find('span').each(function(index, element) {
				$(element).toggleClass('d-none');
			});
		});
	});
	</script>
</body>
</html>